/* common rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/***********
*  header  *
***********/
.site_header .header_content{
    width: 100%;
    background-color: #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.circle{
    display: inline-block;
    transform: scale(.8);
}
.red{
    color: #FC615D;
}
.yellow{
    color: #FDBD41;
}
.green{
    color: #35C94A;
}
.name_meet{
    position: relative;
}
.name_meet p{
    display: inline-block;
}
.cover{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,1);
    height: 17px;
    width: 52%;
}

/***********
*  /header  *
***********/
/***********
*  main  *
***********/
.site_main{
    background-color: #000;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

}
.menu_main{
    width: 100%;
}

.bar_sx,
.bar_dx{
    width: 7%;
}
.container .main_content{
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu_main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
}
/* bar_sx */

.bar_sx,
.bar_dx{
    display: flex;
    justify-content: end;
    align-items: center;
}
.bar_dx{
    justify-content: flex-start;
}
.bar_sx .triangle{
    transform: scale(5) rotateY(180deg);
    color: #7F7F7F;
}
.bar_sx p{
    transform: translateX(-10px) translateY(40px);
    color: white;
}
/* main_content */
.utent{
    position: relative;
    top: 0;
    left: 0;
    margin: 10px ;
}
.menu_main div{
    margin: 5px 5px;
    padding: 4px 10px;
    background-color: #232323;
    border-radius: 5px;
}
.utent_bar{
    position: absolute;
    bottom: 5px;
    left: 0;
}
.utent_bar div{
    color: white;
    float: left;
    background-color: rgba(0,0,0,.4);
}
/* bar_dx */
.bar_dx .triangle{
    transform: scale(5);
    color: #7F7F7F;
}
.bar_dx p{
    transform: translateX(-20px) translateY(40px);
    color: white;
}
/***********
*  /main  *
***********/
/***********
*   footer *
***********/
/***********
*  /footer *
***********/